.signup {
    position: absolute;
    width: 45%;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 10px 50px rgb(218, 215, 215), inset 0 5px 50px rgb(221, 220, 220);
    border-radius: 10px;
}
.signupbox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-form{
    float: left;
    margin: auto;
}
.signup-image{
    float: right;
    margin: auto;
}
.input-group{
    border: none !important;
}
.row_row{
    margin-left: 0px;
    margin-right: 0px;
}
.contact_info_item{
    box-shadow: 0 10px 50px rgb(187, 184, 184), inset 0 5px 50px rgb(169, 168, 168);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    margin: 10px;
}
.left, .right{
    margin: 0px auto;
}
.icon_menu{
    font-size:20px;
}
.home_box{
    height: 90.6vh;
    width: 100%;
    background: linear-gradient(90deg, rgb(252, 185, 218) 50%, rgb(237, 237, 249) 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
}
.content_1{
    text-align: center;
}
.contact_form{
    box-shadow: 0 10px 50px rgb(187, 184, 184), inset 0 5px 50px rgb(169, 168, 168);
    height: 50vh;
    width: 50%;
    margin: auto;
}
.home-title{
    font-size: 60px;
}
.home-para{
    font-size: 35px;
}
