.signup {
    position: absolute;
    width: 45%;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-shadow: 0 10px 50px rgb(218, 215, 215), inset 0 5px 50px rgb(221, 220, 220);
    border-radius: 10px;
}
.signupbox{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.signup-form{
    float: left;
    margin: auto;
}
.signup-image{
    float: right;
    margin: auto;
}
.input-group{
    border: none !important;
}